// variables, mixins, reusable code


$color-white: #fff;

  
  .threeD-button-set {
    --distance: 1px;
    --theme: hsl(295, 84%, 29%);
    --theme-bg: hsla(301, 83%, 18%, 0.25);
    --theme-bg-hover: hsla(291, 100%, 50%, 0.4);
    --theme-text: white;
    --theme-shadow: hsl(180 100% 10% / 25%);
 
    --_btn-bg: var(--theme-bg);
    --_btn-bg-hover: var(--theme-bg-hover);
    --_btn-text: var(--theme-text);
    --_btn-text-shadow: var(--theme-shadow);
    --_bounce-ease: cubic-bezier(.5, 1.75, .75, 1.25);
  
    /* remove <ul> margins */
    // margin: 20;

    // margin-right: 20px;
    // justify-content: flex-end;
  
    /* vertical rag-right layout */
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4vh;
    margin-right: 300px;
    margin-top: 50px;

    
  }
  
  .threeD-button-set > li {
    /* change display type from list-item */
    display: inline-flex;
  
    /* create context for button pseudos */
    position: relative;
  
    /* create 3D space context */
    transform-style: preserve-3d; 
  }
    
  .threeD-button-set button {
    /* strip out default button styles */
    appearance: none;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    
    /* bring in brand styles via props */
    background-color: var(--_btn-bg);
    color: var(--_btn-text);
    text-shadow: 0 1px 1px var(--_btn-text-shadow);
  
    font-size: min(4vmin, 2.5rem);
    font-family: 'Lobster', cursive;
    // padding-block: .75ch;
    // padding-inline: 2ch;
    // border-radius: 5px 20px;

    // font-size: min(3vmin, 2rem); /* Adjusted font size */
  padding-block: 0.5ch; /* Adjusted vertical padding */
  padding-inline: 1ch; /* Adjusted horizontal padding */
  border-radius: 5px 20px; /* Adjusted border radius */
  
    
    &:is(:hover, :focus-visible):not(:active) {
      background-color: var(--_btn-bg-hover);
    }
    
    &::before {
      /* create empty element */
      content: '';
      opacity: .8;
  
      /* cover the parent (button) */
      position: absolute;
      inset: 0;
  
      /* style the element for border accents */
      border: 1px solid var(--theme);
      border-radius: 5px 20px;
      border-width: 3px;
    }
  }
  