// LandingPage.scss


.landing-page {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent), url('../media/background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: end;
  
  // align-items: center;

    
    .title {
      color: $color-white;
      font-family: 'Lobster', cursive;
      font-size: 50px;
      margin-top: 300px;
      margin-right: 215px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 8px 8px 10px rgba(135, 6, 116, 0.367);
    }

    .title-2 {
      color: $color-white;
      font-family: 'Lobster';
      font-size: 30px;
      // margin-top: 300px;
      margin-right: 250px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 8px 8px 10px rgba(135, 6, 116, 0.367);
    }

    .play-button {
      width: 75px;
      height: 75px;
      background: radial-gradient( rgba(164, 1, 123, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
      border-radius: 50%;
      position: relative;
      display: block;
      box-shadow: 0px 0px 25px 3px rgba(255, 0, 212, 0.8);
      // margin-right: 100px;
      // top: 20px;
  // left: 50%;
  // transform: translateX(-50%);
  // margin-top: 300px;
  margin-right: 325px;
  margin-top: 50px;
    }
    

    .play-button::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-40%) translateY(-50%);
      transform-origin: center center;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 25px solid #fff;
      z-index: 100;
      transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .play-button:before {
      content: "";
      position: absolute;
      width: 150%;
      height: 150%;
      animation-delay: 0s;
      animation: pulsate1 2s;
      animation-direction: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: steps;
      opacity: 1;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, .75);
      top: -30%;
      left: -30%;
      background: rgba(198, 16, 0, 0);
    }

    @keyframes pulsate1 {
      0% {
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
      }
      100% {
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
      }
    }
    // .tooltip {
    //   // position: absolute;
    //   // top: 40px;
    //   margin-right: 230px;
    //   margin-top: 25px;
    //   // transform: translateX(-50%);
    //   padding: 10px;
    //   background-color: #333;
    //   color: #fff;
    //   border-radius: 5px;
    //   font-size: 14px;
    // }

    
    // .text-box {
    //   overflow: hidden;
    //   max-width: 400px;
    //   padding: 20px;
    //   --theme: hsl(295, 84%, 29%);
    //   --theme-bg: hsla(301, 83%, 18%, 0.25);
    //   --theme-bg-hover: hsla(291, 100%, 50%, 0.4);
    //   --theme-text: white;
    //   --theme-shadow: hsl(180 100% 10% / 25%);
    //   border: 1px solid var(--theme);
    //     border-radius: 10px 20px;
    //     border-width: 3px;
    //   background-color: var(--theme-bg);
  
    //   .text-container {
    //     max-height: 40em;
    //     overflow: hidden;
    //     animation: typing 4s steps(40) forwards;
    //     display: inline-block;
    //     white-space: pre-wrap;
    //   }
  
    //   .text {
    //     font-family: 'Lobster';
    //     font-size: 25px;
    //     font-style: italic;
    //     color: $color-white;
    //     max-height: 40rem;
    //     white-space: pre-wrap;
    //     overflow: hidden;
    //     animation: typing 5s steps(40) forwards;
    //     display: inline-block;
    //     text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    //     font-weight: bold;
    //   }
  
    //   @keyframes typing {
    //     from {
    //       max-height: 0;
    //     }
    //     to {
    //       max-height: 15rem;
    //     }
    //   }
    // }
  }
* {
  box-sizing: border-box;
  margin: 0;
}
