.projects-container {
  padding: 10px 100px;
  min-height: 100vh;
  background-color: #f1f1f1;
  background-image: linear-gradient(to bottom right, #003cff, #b9ddff);
}

.navbar {

  .navbarlist {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-evenly;
  }

  .navbaritem {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.5rem;
      font-weight: 900;
      color: black;
      text-shadow: 
          -0.0075em 0.0075em 0 mix(#fff, #6e3649, 94%),
          0.005em 0.005em 0 mix(#fff, #6e3649, 60%),
          0.01em 0.01em 0 mix(#fff, #6e3649, 62%), 
          0.015em 0.015em mix(#fff, #6e3649, 64%), 
          0.02em 0.02em 0 mix(#fff, #6e3649, 66%), 
          0.025em 0.025em 0 mix(#fff, #6e3649, 68%),
          0.03em 0.03em 0 mix(#fff, #6e3649, 70%),
          0.035em 0.035em 0 mix(#fff, #6e3649, 72%);
  }

  .navbutton {
      width: 200px;
      height: 30px;
      cursor: pointer;
      background-color: #dde5ff;
      color: #160000;
      border-radius: 4px;
      
      &:hover {
          border: #1e0707 1px solid;
          box-shadow: 0 0 8px #01162a;
      }
      
  }
}


.section-title {
  font-size: 24px;
  font-weight: bold;
  // margin-top: 5rem;
  margin-left: 40%;
  color: black;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 
      -0.0075em 0.0075em 0 mix(#fff, #ffadc8, 94%),
      0.005em 0.005em 0 mix(#fff, #ffadc8, 60%),        
      0.01em 0.01em 0 mix(#fff, #ffadc8, 62%), 
      0.015em 0.015em mix(#fff, #ffadc8, 64%), 
      0.02em 0.02em 0 mix(#fff, #ffadc8, 66%), 
      0.025em 0.025em 0 mix(#fff, #ffadc8, 68%),
      0.03em 0.03em 0 mix(#fff, #ffadc8, 70%),
      0.035em 0.035em 0 mix(#fff, #ffadc8, 72%);
  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 100px;
}

.project-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    margin-top: 0;
    font-size: 20px;
  }

  p {
    margin-bottom: 0;
    color: #888;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}

.project-card {
  transition: transform 0.3s ease;
  position: relative;
  // overflow: hidden;
}

.project-card:hover {
  transform: scale(1.05);
  .project-button {
    border: #1e0707 1px solid;
    box-shadow: 0 0 8px #01162a;
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}

.project-button {
  margin-top: 20px;
  border-radius: 8px;
  position: absolute;
  // bottom: 0;
  left: 0;
  width: 100%;
  // padding: 10px;
  background-color: #dde5ff;
  color: #160000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  
}

// .image-container img {
//   transition: transform 0.3s ease;
// }

// .image-container:hover img {
//   transform: scale(1.4);
// }